[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lol/lib/ds-test"]
	path = lol/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "bruh/lib/ds-test"]
	path = bruh/lib/ds-test
	url = https://github.com/dapphub/ds-test
